<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
    <script type="text/javascript" src="../static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../static/js/home.js"></script>

</head>
<body>
<b>Please enter your login and password:</b>


<form id="snmpForm" >
    <p>
        <span>Login:</span>
        <input type="text" name="login">
    </p>
    <p>
        <span>Password:</span>
        <input type="text" name="auth">
    </p>
    <p><input type="submit" name = "submit" value="submit" ></p>
</form>

<p id="snmpResultHeader"></p>
<p id="snmpResult"></p>


</body>
</html>