<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
    <script type="text/javascript" src="../static/js/home.js"></script>
</head>
<body>
<b>This is the homepage!</b>


<form name="switch" method="post" action="/">
    <p>Enter snmp OID</p>
    <input type="text" name="snmp_oid">
    <input type="checkbox" name="GetSubtree">
    <span>Get subtree</span>
    <p><input type="submit" name = "submit" value="submit" ></p>
</form>

<p>Result:</p>
{% for item in SnmpReply %}
  <li>{{ item }}</a></li>
{% endfor %}

</body>
</html>